body {
  font-family: Noto Sans;
  box-sizing: border-box;
}
.block {
  background-color: #ffdb4c;
  padding: 20px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.137px;
  color: #777;
  margin-top: 15px;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  p {
    letter-spacing: 0.08px;
  }
}
.line {
  border-bottom: 1px solid #cad8e3;
}
@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}
@media (max-width: 767px) {
  .d-xl-none {
    display: none;
  }
}
.heading {
  position: relative;
  color: #333;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.5px;
}
@media (min-width: 1200px) {
  .heading {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }
}
.heading--number:before {
  position: absolute;
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background-color: #fbc50a;
  color: #fff;
  top: -39px;
  left: -11px;
  font-size: 16px;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 8px;
  line-height: 1;
}
@media (min-width: 1200px) {
  .heading--number:before {
    top: -18px;
    left: -32px;
  }
}
.heading--number-1:before {
  content: "1";
}
.heading--number-2:before {
  content: "2";
}
.section-benefits {
  padding-top: 34px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .section-benefits {
    padding-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .section-benefits {
    padding-top: 58px;
    padding-bottom: 25px;
  }
}
.mt-27 {
  margin-top: 27px;
}
@media (min-width: 768px) {
  .mt-27 {
    margin-top: 0;
  }
}
.mt-12 {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .mt-12 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-sm {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .mt-freelance-heading {
    margin-top: -10px;
  }
}
@media (min-width: 1200px) {
  .mt-freelance-heading {
    margin-top: 35px;
  }
}
@media (min-width: 768px) {
  .pt-freelance {
    padding-top: 80px;
  }
}
@media (min-width: 1200px) {
  .pt-freelance {
    padding-top: 55px;
  }
}
@media (min-width: 768px) {
  .mt-startup-heading {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .mt-startup-heading {
    margin-top: 18px;
  }
}
@media (min-width: 768px) {
  .pt-pb-startup-container {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .pt-pb-startup-container {
    padding-top: 70px;
    padding-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .mb-40 {
    margin-bottom: 40px;
  }
}
.button {
  background-color: #252525;
  box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 0.4);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 42px;
  cursor: pointer;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #ffc80a;
  box-shadow: 0px 8px 16px 0px rgba(233, 222, 185, 0.4);
}
.button--orange {
  background-color: #ffc80a;
  padding-left: 28px;
  padding-right: 28px;
}
.container--mobile--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container--mobile--no-padding {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container--mobile--no-padding {
    width: 1140px;
  }
}
@media (min-width: 768px) {
  .container--tablet--no-padding {
    padding-left: 0;
    padding-right: 0;
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container--tablet--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container--tablet--no-padding {
    width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container--desctop--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
.logo {
  text-align: center;
  padding-top: 74px;
  padding-bottom: 38px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo {
    padding-top: 98px;
    padding-bottom: 38px;
  }
}
@media (min-width: 992px) {
  .logo {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .logo {
    padding-top: 17px;
    padding-bottom: 46px;
  }
}
.logo__name {
  color: #000;
  font-size: 33px;
  line-height: 1.38;
  letter-spacing: 8.7px;
  font-weight: 700;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .logo__name {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 9.5px;
    line-height: 1.5;
    margin-top: 27px;
  }
}
.logo__slogan {
  color: #a1bbd9;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 8.8px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 10.3px;
  }
}
.navigation {
  background-color: #38383a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  line-height: 26px;
  box-shadow: 0px 5px 10px 0px #2a496d;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  .navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
}
.navigation__toggle-button {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #38383a;
  cursor: pointer;
}
.navigation__toggle-button:before {
  content: "";
  position: absolute;
  top: 24px;
  right: 20px;
  width: 25px;
  height: 20px;
  background: url("../img/icons/navigation-icon.png");
}
@media (min-width: 768px) {
  .navigation__toggle-button:before {
    right: 35px;
  }
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation .navigation__toggle-button--active {
  background-color: #16385f;
}
.navigation ul {
  display: none;
  background-color: #35577d;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  width: 100%;
}
@media (min-width: 992px) {
  .navigation ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    line-height: 26px;
  }
}
.navigation ul li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #466a92;
}
.navigation ul li:last-child {
  border-bottom: none;
}
@media (min-width: 992px) {
  .navigation ul li {
    border-bottom: none;
  }
}
.navigation ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 15px 19px;
}
@media (min-width: 992px) {
  .navigation ul li a {
    padding: 0;
    display: inline;
    text-decoration: none;
    border-bottom: none;
  }
  .navigation ul li a:hover,
  .navigation ul li a.active {
    color: #ffcc00;
  }
}
@media (min-width: 992px) {
  .navigation ul li a.selected {
    color: #ffcc00;
  }
}
.slider {
  background-image: url('../img/bg/slider-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 63px;
  padding-bottom: 73px;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
@media (min-width: 992px) {
  .slider {
    padding-top: 100px;
    padding-bottom: 92px;
  }
}
.slider_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .slider_title {
    padding-bottom: 7px;
  }
}
@media (min-width: 992px) {
  .slider_title {
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 18px;
  }
}
.slider_slogan {
  font-family: 'Noto Serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #cddfe0;
  text-align: center;
}
@media (min-width: 768px) {
  .slider_slogan {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .slider_slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
.slider .text_md {
  font-family: 'Noto Serif';
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #cddfe0;
  text-align: center;
}
@media (max-width: 1199px) {
  .slider .text_md {
    display: none;
  }
}
.benefit-block {
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .benefit-block {
    padding-bottom: 46px;
  }
}
.benefit-block:last-child {
  padding-bottom: 0px;
}
@media (min-width: 768px) {
  .benefit-block:nth-last-child(2) {
    padding-bottom: 0px;
  }
}
.benefit-block__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .benefit-block__img {
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .benefit-block__img {
    margin-bottom: 23px;
  }
}
.benefit-block__header {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .benefit-block__header {
    margin-bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .benefit-block__header {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
.benefit-block__text {
  color: #777;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .benefit-block__text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .benefit-block__text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.service-description__button-arrow {
  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/arrow-orange.png");
  margin-top: -8px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .service-description__button-arrow {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .service-description__button-arrow {
    margin-top: 24px;
    margin-bottom: 88px;
  }
}
.service-description__content {
  width: 98%;
  font-size: 14px;
  color: #777;
  line-height: 24px;
}
@media (min-width: 768px) {
  .service-description__content {
    width: 101%;
  }
}
@media (min-width: 1200px) {
  .service-description__content {
    width: 100%;
  }
}
.service-description__img {
  position: relative;
}
.service-description__img_tablet {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: -3px;
}
@media (min-width: 768px) {
  .service-description__img_tablet {
    position: absolute;
    top: -41px;
    right: 4px;
  }
}
@media (min-width: 1200px) {
  .service-description__img_tablet {
    position: absolute;
    max-width: 98%;
    right: 80px;
    top: -26px;
  }
}
.service-description__img_rocket {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .service-description__img_rocket {
    margin-top: 0;
    margin-left: 4px;
  }
}
@media (min-width: 1200px) {
  .service-description__img_rocket {
    position: absolute;
    max-width: 98%;
    right: 47px;
    top: 0px;
  }
}
.package {
  padding-top: 35px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
  text-align: center;
}
@media (min-width: 768px) {
  .package {
    margin-bottom: 0;
  }
}
.package__type {
  font-size: 12px;
  margin-bottom: 28px;
  color: #242526;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}
.package__price {
  font-size: 48px;
  font-weight: 700;
  color: #242526;
  margin-bottom: 14px;
  line-height: 1;
}
.package__price::after {
  content: "c";
  font-family: 'als_rublregular';
}
.package__period {
  font-size: 12px;
  color: #242526;
  margin-bottom: 46px;
}
.package__benefits {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 55px;
}
.package__benefits ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 55px;
}
.package__benefits ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.package__benefits ul li:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-image: url("../../img/icons/ok-icon.png");
  background-repeat: no-repeat;
  background-position: left 2px;
}
.footer {
  background: #2d2d2d;
  background-color: #252525;
  padding-top: 38px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 37px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 78px;
    padding-bottom: 80px;
  }
}
.footer__title {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 18px;
  }
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .footer__nav {
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .footer__nav {
    padding-bottom: 60px;
  }
}
.footer__nav li {
  margin: 0;
  font-size: 14px;
  line-height: 36px;
  color: #6c6c6c;
}
.footer__nav li a {
  text-decoration: none;
  color: #6c6c6c;
  cursor: pointer;
}
.footer .copyright {
  width: 55%;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 22px;
  margin-top: -10px;
}
.btn_up {
  position: fixed;
  bottom: -50px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: #333;
  z-index: 100;
  outline: 0!important;
}
@media (min-width: 992px) {
  .btn_up {
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .btn_up {
    right: 30px;
  }
}
.btn_up:after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn_up.active {
  bottom: 50px;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.top-slider-theme .owl-controls .owl-buttons div {
  display: none;
}
@media (min-width: 768px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    top: 33%;
  }
}
@media (min-width: 992px) {
  .top-slider-theme .owl-controls .owl-buttons div {
    top: 27%;
  }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left.png');
}
@media (min-width: 768px) {
  .owl-prev {
    left: -18px;
  }
}
@media (min-width: 992px) {
  .owl-prev {
    left: 0px;
  }
}
.owl-next {
  right: 0;
  background-image: url('../img/icons/arrow-right.png');
}
@media (min-width: 768px) {
  .owl-next {
    right: -18px;
  }
}
@media (min-width: 992px) {
  .owl-next {
    right: 5px;
  }
}
/* Styling Pagination*/
.owl-pagination {
  position: absolute;
  width: 100%;
  bottom: -60px;
}
@media (min-width: 992px) {
  .owl-pagination {
    display: none;
  }
}
.top-slider-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.top-slider-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 9px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.top-slider-theme .owl-controls .owl-page.active span,
.top-slider-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.prices {
  padding-top: 30px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .prices {
    padding-top: 33px;
    padding-bottom: 102px;
  }
}
@media (min-width: 992px) {
  .prices {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .prices {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}
.prices p.subtitle-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #777;
  margin-top: 10px;
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .prices p.subtitle-text {
    margin-bottom: 52px;
  }
}
